@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  /* margin-top: 10px; */
  /* overflow: hidden; */
  /* flex-wrap: wrap; */
  font-family: 'Roboto', sans-serif;
  /* margin-left: 15px; */

}
.flex-container {
display: flex;
align-items: center;
margin-left: 10px;;

}
.menu {
  display: flex;
  align-items: center;
  flex:2;
  width: 200px;
  padding: 20px;
  justify-content: flex-end;
  

  
}
.text-1{
    margin-right: 10px;
}
.blog{
    font-size: 20px;
    color: grey;
}

.logo{
  width: 230px;
  height: 66px;
}
.quote{
    background-color:  #184655;
    width: 223px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 5px;
    /* display: fle; */
    font-size: 25px;
    text-align: center;
}
.quote p{
    font-size: 20px;
   text-align: center;
    /* opacity: 1; */
}


.hero
{
    background-image: url(images/bg.jpg);
    height: 700px;
    /* width: 1000px; */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-inline: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 1286px; */
}


.text-1{
    color:#184655;
    font-weight: 700;
    width: 424px;;
    font-size: 50px;
    margin: 0;
    

    

}
.search_container{
    position: relative;
}
.input_text{
    margin: s;
    border: none;
    width: 400px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 40px;


}
input::placeholder{
    padding-left: 35px;
    font-size: 20px;
}
.search{
    border: none;
    background-color: #184655;
    width: 130px;
    /* height: ; */
    height: 50px;
    /* margin-left: 0; */
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 0;
    color: white;
    font-weight: 900;

    
}
/* input{} */
.icon{
    position: absolute;
    top:11px;
    left: 10px;
    
    
}
.hero-img
{
    height: 400px;
    width: 460px;
}
.hashtags{
    color: grey;
    padding-top: 10px;
    word-spacing: 50px;
}
.section-2{
    margin-top: 30px;
    display: flex;
    /* width: 1386px; */
    height: 512px;
    border-radius: 30px;
    justify-content: space-between;
    background-color: #FCFCF3;
    border: 1px solid grey;
    /* align-items: center; */
    /* position: relative; */

    


}
.robot_hand{
    border-radius: 15px;
    margin-top: 20px;
   margin-left:20px;
    
}
.section-2-right{
    margin-top: 0;
    margin-left: 20px;;



}
h3{
    font-size: 43px;;
    color: #404040;
    margin-bottom: 5px;
    font-weight: 900;
}
.writer_name{
    color: #6F6E6E;
    display: inline-block;
}
.date{
    text-align: right;
    width:  450px;
    font-weight: 500;
}
.section3{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}


.card{
    width:450px;
    height: 550px;
    position: relative;
    border-radius: 10px;
   word-spacing: 4px;
   box-shadow: -1px 2px 14px 3px rgba(0,0,0,0.36);
-webkit-box-shadow: -1px 2px 14px 3px rgba(0,0,0,0.36);
-moz-box-shadow: -1px 2px 14px 3px rgba(0,0,0,0.36);
    /* display: block; */
}

.text_card{
    position: absolute;
   top:300px;
   bottom: 0;
   left: 0;
   margin-inline: 10px;
   margin-top: 5px;
   
}
.card_image img{
    display: block;
    position: absolute;
    height: 300px;
    width: 450px;
    border-radius: 10px;;
    background-size: cover;

    
}



.img_card{

    margin-bottom: 20px;;
    height: 330px;
    width: 430px;;
    background-size: contain;
}

.date-card{
    display: inline-block;
    width: 65%;
    text-align: right;
    /* color: 6F6E6E; */
    margin-bottom: 0;
    color: #6F6E6ED6;


}
.writer_name_card{
    display: inline-block;
    color: #6F6E6ED6;
    text-justify: inter-word;
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}
.seefull{
    text-align: right;

    font-family: 'Roboto', sans-serif;

}

.card_head
{
    font-size: 25px;
    font-weight: bold;
    color: #4A4848;
    margin-top: 10px;
    margin-bottom: 0;

}
.card_content{

    color: #464343;    ;
    
}
.seefull{
    color:#404040
}